@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url(reset.css); 
/* ✔reset연결 2번방법 : 리셋파일 연결하면 html에 css만 연결해도 reset까지 같이 연결됨 */


body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 21px;
}
li {list-style: none;}
a {text-decoration: none;}

.container {
    padding: 0 25px;
    width: 100%;
    box-sizing: border-box;
}
form input::placeholder {
    font-family: 'Poppins', sans-serif;
}
form input[value] {
    font-family: 'Poppins', sans-serif;
}


/* text align */
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.main-tt {
    font-size: 32px;
    line-height: 48px;
}
.btn.btn.btn { /* 1) .btn반복해서 강조하면 순위올라감 */
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #7E57C2 /*!important*/; /* 2)!important작성하면 중요해짐(순위가 올라감) */
    color: #fff;
    font-size: 16px;
    display: block;
    text-align: center;
}


/* 💛.welcome */
.welcome {
    height: 100vh;
    background: url(../images/welcome_bg.png) no-repeat center;
    /* x,y축 둘다 center 이면 한번만 작성해도 됨 */
    background-size: cover; /* 화면 다 채울때 cover */
}
.welcome h1 {
    padding-top: 130px;
    color: #fff;
}
.welcome h1 + p {
    /* +는 바로 밑에 동생만 적용 */
    font-size: 21px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    padding-top: 127px;
    padding-bottom: 105px;
    width: 323px;
    margin-left: auto;
    margin-right: auto;
}
.sign_links a:first-child {
    margin-bottom: 20px;
}


/* 💛.sign_in */
.sign_in {
    height: 100vh;
    background: url(../images/sign_in_bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 90px;
    box-sizing: border-box;
    position: relative;
}
.sign_in .container h2 {
    color: #fff;
    z-index: 50; /* 포지션이 없으면 안잡힘 */
    position: relative;
    margin-bottom: 116px;
}
.sign_in::after {
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: -1;
}
[class^="sign"] form {
    position: relative;
}
[class^="sign"] form label {
    /* [class^=" "]는 ""안에 있는 클래스명으로 시작하는 것 */
    display: none;
}
[class^="sign"] form input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: none;
    background-color: rgba(238,238,238,0.4);
    outline: none; /* 커서가 생길때 나타나는 border밖의 선 없애기 */
    padding-left: 12px;
    box-sizing: border-box;
    font-size: 16px;
}
[class^="sign"] form input::placeholder {
    color: #fff; /* ✔ placeholder는 가상선택자로 불러서 색상변경 */
}
[class^="sign"] form p:not(:last-child) {
    /* ❗ :not(:last-child) ==> 마지막 선택자가 아닌 것에 모두 적용하라 */
    margin-bottom: 10px;
}

.signin_links {
    margin-top: 25px;
    position: relative;
}
.signin_links a {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 16px;
}
.signin_links a:last-child {
    margin-top: 25px;
}


/* 💛.sign_up */
.sign_up {
	height: 100vh;
	background: url(../images/sign_up_bg.jpg) no-repeat center;
	background-size: cover;
	position: relative;
    padding-top: 90px;
    box-sizing: border-box;
}
.sign_up::before {
	content: '';
    display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0,0,0,0.2);
    z-index: -1;
}
.sign_up .container {position: relative;}
.sign_up h2 {
    color: #fff;
    margin-bottom: 60px;
}
[class^="sign"] form .btn {
    margin-top: 77px;
}
.sign_up form .signin_links {
    margin-top: 25px;
    font-size: 16px;
}


/* 💛.shop */
header {
    background-color: #7E57C2;
    height: 50px;
    position: relative;
}
header>h2 {
    font-size: 17px;
    line-height: 50px;
    color: #fff;
    text-align: center;
}
header>img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header>img.menu_icon_left {
    left: 25px;
}
header>img.menu_icon_right {
    right: 25px;
}

.top-product {
    width: 350px; height: 250px;
    position: relative;
    padding: 25px 25px 0 0;
}
.top-product img {
    width: 100%;
}
.top-product .info {
 /* box-shadow: x값 y값 blur spread color; (spread는 잘안씀) */
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    position: absolute;
    right: 0; bottom: -37px;
    left: 50px;
    background-color: #fff;
    padding: 10px 20px 14px 20px; 
}
.top-product .info h2 {
    /* text-shadow: 0 0 rgba(0,0,0,0.25); -> 글자에도 그림자 가능 */
    font-size: 18px;
    color: #757575;
    line-height: 27px;
    margin-bottom: 5px;
}
.top-product .info .desc {
    margin-top: 5px;
}
.top-product .info .desc .price {
    font-size: 13px;
    color: #7E57C2;
    float: left;
    line-height: 20px;
}
.top-product .info .desc .rate {
    font-size: 13px;
    color: #7E57C2;
    line-height: 21px;
    position: absolute;
    right: 20px; bottom: 12px;
}
.top-product .info .desc .rate i {

}

/* swiper 슬라이드 */
.shop_product {
    padding-left: 25px;
    margin-top: 80px;
    overflow: hidden; /* .div.swiper-slide 넘치는 것 감추기 */
}
.shop_product .product_list {}
.product_list .swiper-slide {width: 125px;}
.product_list .swiper-slide img {width: 100%;}
.product_list .swiper-slide h3 {
    font-size: 16px;
    line-height: 25px;
    color: #757575;
/*  말 줄임말 set
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
.product_list .swiper-slide h4 {
    font-size: 13px;
    line-height: 21px;
    color: #7E57C2;
}


/* 💛category */
.category_slide {position: relative;}
.category_slide .swiper-slide {}
.category_slide .swiper-slide img {width: 100%;}
.category_slide .swiper-pagination {
    position: absolute;
    bottom: 15px; left: 0;
}

.category_list {
    overflow: hidden; /* 부모태그에 clearfix 줘도 됨 */
}
.category_list li {
    float: left;
    width: 46%;
    margin-right: 8%; /* 사진끼리 띄우기, 여백주기 */
    margin-top: 25px;
}
.category_list li:nth-child(even) {
    margin-right: 0;
}
.category_list li img {
    width: 100%;
}
.category_list li h3 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 25px;
    color: #757575;
}
.category_list li h4 {
    font-size: 13px;
    line-height: 21px;
    color: #7E57C2;
    margin-top: 1px;
}

/* 💛Product Detail */

header .left {
    left: 25px;
}
header h2 {
    font-size: 17px;
}
header .right {
    right: 25px
}

.contnent {}
.main_top {padding: 0 25px;}
.main_top h2{
    font-size: 18px;
    line-height: 29px;
    color: #757575;
    margin-top: 25px;
}
.main_top .star {
    font-size: 13px;
    line-height: 21px;
    color: #7E57C2;
    margin-right: 5px;
}

.main_slide {
    margin-top: 15px;
    padding: 0 25px;
}
.main_slide .main_img {
    width: 100%;
}
.main_img .slick-slide {
    padding-right: 25px;
}
.main_slide .main_img div img {
    width: 100%; height: 100%;
}

.main_slide .slick-dots {
    position: absolute;
    bottom: -25px; right: 78px;
}
.main_slide .slick-dots li {
    float: left;
    width: 10px; height: 10px;
    background-color: #ffffff;
    border: 1px solid #7E57C2;
    margin-right: 5px;
    border-radius: 50%;
    /* list-style: none; */
}
.main_slide .slick-dots li button {
    font-size: 0;
    line-height: 0;
    border-color: none;
    border: 0;
    background: none;
}
.main_slide .slick-dots li.slick-active {
    background-color: #7E57C2;
}

.main_slide span {
    font-size: 26px;
    color: #757575;
    display: block;
    margin-top: 20px;
}
.main_slide p {
    font-size: 13px;
    line-height: 21px;
    color: #757575;
    margin-top: 10px;
}

.option {
    overflow: hidden;
    margin-top: 15px;
}
.color {
    float: left;
    width: 100px; height: 25px;
    border: 1px solid #999999;
    margin-left: 25px;
    position: relative;
}
.color p {
    line-height: 25px;
    font-size: 13px;
    color: #757575;
    display: block;
    padding-left: 10px;
}
.color i {
    position: absolute;
    top: 0px; right: 10px;
    color: #757575;
    font-size: 7px;
    line-height: 25px;
}
.size {
    float: right;
    width: 100px; height: 25px;
    border: 1px solid #999999;
    margin-right: 125px;
    position: relative;
}
.size p {
    line-height: 25px;
    font-size: 13px;
    color: #757575;
    display: block;
    padding-left: 10px;
}
.option .size i {
    position: absolute;
    top: 0px; right: 10px;
    color: #757575;
    font-size: 7px;
    line-height: 25px;
}

.bottom {
    margin-top: 25px;
    padding: 0 25px;
}
.bottom form input {
    width: 325px; height: 50px;
    background-color: #7E57C2;
    color: #fff;
    font-size: 16px;
    outline: 0;
    display: block;
    outline-style: none; /* 안먹힘 */
}


/* 💛.Shopping Cart */
.wrap {
    padding: 0 25px;
    margin-top: 35px;
}
.cart {
    width: 325px; height: 55px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}
.cart_p {
    float: left;
    width: 90%;
}
.icon {
    float: right;
}
.cart_p img {
    float: left;
    width: 40px; height: 40px;
    margin-right: 10px;
}
.cart_p div h3 {
    font-size: 15px;
    line-height: 20px;
    color: #757575;
}
.cart_p div p {
    font-size: 10px;
    line-height: 16px;
    color: #757575;
}
.cart .icon {
    font-size: 10px;
    line-height: 40px;
    color: #757575;
}


.price {
    margin-top: 30px;
}
.price .text {
    overflow: hidden;
    position: relative;
}
.price .text span {
    /* float: left; */
    font-size: 15px;
    line-height: 25px;
    color: #757575;
    position: absolute;
    top: 0; right: 88px;
}
.price .text .total {
    font-size: 18px;
    font-weight: 500;
}
.price .text p {
    float: right;
    font-size: 15px;
    line-height: 25px;
    color: #757575;
}
.price .text .total_p {
    font-size: 18px;
    line-height: 25px;
    color: #7E57C2;;
    font-weight: 500;
}

.bottom input {
    margin-top: 35px;

    outline: none;
    border: 0;
    box-sizing: border-box;
}